@tailwind base;
@tailwind components;
@tailwind utilities;


.like_post[aria-liked='true'] {
    animation: like .45s ease-in-out;
}

@keyframes like {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(.95);
    }
    100% {
        transform: scale(1);
    }
}

